<!-- <html lang="en">

<body>
    <div class="container">
        <div class="jumbotron">
            <h3>WELCOME TO MY APP</h3>
        </div>
        <hr>
        <div> -->
<!-- <button class="btn btn-primary" routerLink="/registration">go to registration page</button> -->
<!-- <button mdbBtn type="button" gradient="purple" rounded="true">Purple</button>
        <button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect>Secondary</button> -->
<!-- <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect routerLink="/registration">Register</button>
            <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect routerLink="/addInformation">Add Information</button> -->
<!-- <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect routerLink="/registration">Add Data</button> -->
<!-- </div>
    </div>

</body>

</html> -->



<html lang="en">

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
        <div class="view" style="background-size: cover; background-position: center center;">
            <div class="mask rgba-gradient align-items-center">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                                <q>
                                    Look up at the stars and not down at your feet. Try to make sense of what you see, and wonder about what makes the universe exist. Be curious.</q>
                            </h6>
                        </div>
                        <div class="col-md-6 col-xl-5 mb-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>